<p>Welcome to Angular</p>


<nav> 
  <a routerLink = "/home">Home</a>
  <a routerLink = "/cart">Cart</a> 
  <a routerLink = "/myprofile">Myprofile </a> 
  <a routerLink = "/productdetails">Productdetails </a> 
</nav> 
<router-outlet></router-outlet>