a:link, a:visited { 
    background-color: #848686; 
    color: white; 
    margin-right: 10px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
 } 
 a:hover, a:active {
    background-color: #BD9696;
 }