<p>home works!</p>
<div *ngFor = "let category of categories" style="display: inline-block;">
<button (click) = "getproducts(category)" style="color: red;margin: 5px;">{{category}}</button>
</div>
<div *ngIf = "valid">
    <div>Products for selected Category</div>
    <div *ngFor = "let product of products;let i= index">
    <div>{{product.category}}</div>
    <div>{{product.description}}</div>
    <div>{{product.id}}</div>
    <div>
    <a routerLink = "/productdetails"><img src={{product.image}} alt="" height="250px" width="250px"></a>
    </div>
    <div>{{product.price}}</div>
    <div>{{product.title}}</div>
    </div>
</div>